.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-content {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-container:hover .tooltip-content {
  visibility: visible;
}

@media screen and (max-width: 600px) {
  .tooltip-content {
    width: 180px;
    bottom: auto;
    top: 125%;
    right: 0;
    margin-left: -180px;
  }
}